<ion-header>
  <ion-toolbar>
    <ion-title class="subtitulo ion-text-wrap">
      GasDomi
    </ion-title>
    
    <ion-buttons slot="start">
      <ion-button (click)="openMenu()">
        <ion-icon color="primary" slot="icon-only" name="menu-sharp"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h3 class="subtitulo encabezado">Ingrese datos del producto</h3>
  <ion-item> 
    <ion-label class="normal" position="floating">
      Nombre:
    </ion-label>
    <ion-input class="normal" type="text" inputmode="text">
    </ion-input>
  </ion-item>

  <ion-item> 
    <ion-label class="normal" position="floating">
      Precio normal:
    </ion-label>
    <ion-input class="normal" type="number" inputmode="numeric">
    </ion-input>
  </ion-item>

  <ion-item> 
    <ion-label class="normal" position="floating">
      Precio reducido:
    </ion-label>
    <ion-input class="normal" type="number" inputmode="numeric">
    </ion-input>
  </ion-item>

  <ion-item>
    <ion-label class="normal">
        Foto:
    </ion-label>
    <ion-buttons slot="end">
      <ion-button>
         <label for="file-upload">
           <ion-icon slot="icon-only" name="images"></ion-icon>
         </label>
        
      </ion-button>
    </ion-buttons>
  </ion-item>

  <ion-button style="margin: 30px" expand="full" color= "dark">
    Guardar
  </ion-button>

</ion-content>