<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="titulo">
      Gas
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large" class="titulo">Gas</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>Ready to create an app?</strong>
    <p>Start with Ionic <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
    
  
    <div class="alert alert-primary pt-5" role="alert">
      A simple primary alert—check it out!
    </div>
    <h1 class="titulo">Este es el Título</h1>
    <h4 class="subtitulo">Este es el resumen</h4>
    <p class="normal">Esta es una prueba del estilo de letra raleway de google fonts  y de el estilo de bootstrap</p>
    </div>
 
</ion-content>
